__pycache__/
hidden/
__pycache__/preprocessing.cpython-313.pyc
marco_experiments.ipynb
*.pyc
*.png
marco_playground.ipynb
autoencoders.ipynb
best_model_bone0.pth
best_model_bone1.pth
best_model_bone2.pth
best_model_bone3.pth
best_model_bone4.pth
best_model_bone5.pth
best_model_bone6.pth
best_model_bone7.pth
best_model_bone8.pth
best_model_bone9.pth
best_model_bone10.pth
best_model_bone11.pth
best_model_bone12.pth
best_model_bone13.pth
best_model_bone14.pth
best_model_bone15.pth
best_model_bone16.pth
competition/csv_generator.ipynb
competition/prediction_generator_freemoves.ipynb
competition/prediction_generator_guided.ipynb
marco_design.ipynb
marco_filter.ipynb
competition/true_stacking.ipynb