__pycache__/
hidden/
__pycache__/preprocessing.cpython-313.pyc
marco_experiments.ipynb
*.pyc
*.png
marco_playground.ipynb
competition/csv_generator.ipynb
competition/prediction_generator_freemoves.ipynb
competition/prediction_generator_guided.ipynb
marco_design.ipynb
marco_filter.ipynb
competition/true_stacking.ipynb